<h1>Welcome to KissYeCook</h1>
<p>Connecting private chefs with amazing clients</p>
<h2>we currently have <%= @listings %> listings, care to add yours to the list?</h2>
<%= link_to 'Listings', listings_path, class: 'btn btn-primary' %>